{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "arrow-body-style": [
      "off",
      "as-needed"
    ],
    "array-callback-return": "off",
    "camelcase": "off",
    "consistent-return": "off",
    "eqeqeq": "off",
    "linebreak-style": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-restricted-globals": "off",
    "no-shadow": "off",
    "no-undef": "off",
    "no-unused-expressions": "off",
    "no-use-before-define": "off",
    "radix": "off",
    "react-hooks/exhaustive-deps": "off",
    "react/prefer-stateless-function": "off",
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "import/no-unresolved": "off",
    "object-curly-newline": "off",
    "import/prefer-default-export": "off",
    "react/jsx-one-expression-per-line": "off",
    "no-unused-vars": "warn",
    "react/button-has-type": "off",
    "no-multiple-empty-lines": [
      2,
      {
        "max": 1
      }
    ],
    "indent": [
      "error",
      2
    ],
    "react/jsx-indent": [
      "error",
      2
    ],
    "react/jsx-indent-props": [
      "error",
      2
    ],
    "semi": [
      "error",
      "never"
    ],
    "max-len": [
      "error",
      {
        "code": 115,
        "ignoreTrailingComments": true,
        "ignoreStrings": true
      }
    ],
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "labelComponents": [
          "CustomInputLabel"
        ],
        "labelAttributes": [
          "label"
        ],
        "controlComponents": [
          "CustomInput"
        ],
        "depth": 3
      }
    ]
  }
}
