html {
  width: 100vw;
  height: 100vh;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "DINPro-medium";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c284b;
  background-color: #f7f8fc;
}

#root {
  width: 100%;
  height: 100%;
}
