/* Colors */

$color-blue: #216BFE;
$color-gray: #9BACBC;
$color-green: #00CA80;
$color-red: #FF5771;

$primary: #2C284B;
$secondary: #C84845;
$danger: $color-red;
$white: #fff;
$white-dark: #F7F8FC;
